<div id="clearance" class="sign-in bg-grey-lighter w-full">
  <div class="max-w-sm mx-auto pt-32 px-4 h-screen">
    <div class="bg-white rounded border-transparent overflow-hidden shadow-md">
      <div class="bg-grey-darker text-grey px-5 py-3">
        <h1 class="text-lg text-center uppercase"><%= t(".title") %></h1>
      </div>

      <section class="py-8 px-6">
        <%= render partial: '/sessions/form' %>
      </section>
    </div>
  </div>
</div>
