.form-input {
  @apply w-full mb-6;
}

.form-label {
  @apply block uppercase tracking-wide text-gray-800 text-xs font-bold mb-2;
}

.form-control {
  @apply appearance-none block w-full bg-gray-300 text-gray-800 border border-gray-300 rounded py-3 px-4 leading-tight;
}

.form-control:focus {
  @apply outline-none bg-white border-gray-500;
}

.is-invalid {
  @apply border-red-500;
}

.form-hint {
  @apply text-blue-500 text-xs italic;
}

.form-error {
  @apply text-red-500 text-xs italic;
}

.form-input .checkbox {
  & input[type=checkbox] {
    @apply mr-2;
    -ms-transform: scale(1.125);
    -moz-transform: scale(1.125);
    -webkit-transform: scale(1.125);
    -o-transform: scale(1.125);
  }
}

/* Don't underline the "required" asterisk in forms */
abbr[title] {
  text-decoration: none;
}
