/*=========================================================================
 Top Navbar
========================================================================= */

#top-navigation {
  height: var(--navbar-height);
}

/*=========================================================================
 Sidebar
========================================================================= */

#sidebar-banner {
  height: var(--navbar-height);
}

.sidebar-link {
  @apply no-underline block text-lg py-2 px-4 text-gray-700 border-r-4 border-transparent;

  &:hover {
    @apply text-gray-800 bg-gray-400 border-gray-700;
  }

  &:focus {
    @apply text-gray-800 bg-gray-400 border-gray-700;
  }

  &.active {
    @apply text-gray-800 bg-gray-400 border-gray-700 font-bold;
  }
}

/* Mobile Sidebar - slides over to replace entire screen */
#wrapper {
  & #sidebar-wrapper {
    width: 0;
    position: fixed;
    overflow-y: auto;
  }

  &.toggled {
    & #sidebar-wrapper {
      width: var(--mobile-sidebar-width);
    }
  }
}

/* Medium screens and up - sidebar slides in, rest of body resizes to fit */
@media(min-width:768px) {
  #wrapper {
    & #body-wrapper {
      position: relative;
    }

    &.toggled {
      & #sidebar-wrapper {
        width: var(--sidebar-width);
      }

      & #body-wrapper {
        padding-left: var(--sidebar-width);
      }
    }
  }
}

/* Sidebar Animations */
#wrapper {
  & #sidebar-wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  & #body-wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  /* Don't animate if opening on page load */
  &.loading {
    & #sidebar-wrapper {
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      -o-transition: all 0s ease;
      transition: all 0s ease;
    }

    & #body-wrapper {
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      -o-transition: all 0s ease;
      transition: all 0s ease;
    }
  }
}
