<div class="w-screen h-screen pt-6 bg-grey-lighter">
  <section class="container mx-auto rounded p-6 bg-white shadow-md">
    <h1 class="mb-4">Welcome to the RH Productions Jumpstart App</h1>

    <p class="mb-2"><span class="text-blue">If this text is blue</span>, that means Tailwind CSS is working.</p>

    <p class="mb-2"><button class="btn btn-primary">Press Me</button> <-- If this is a blue button with white text that darkens on hover, the custom components are integrating with Tailwind properly.</p>
  </section>
</div>
