<div class="w-screen h-screen pt-6 bg-gray-200">
  <section class="container mx-auto rounded p-6 bg-white shadow-md">

    <h1 class="text-2xl mb-4">Welcome to the RH Productions Jumpstart App</h1>

    <p class="mb-2">If the button below is blue, that means Tailwind CSS is working.</p>
    <p class="mb-2">If it includes a hand icon, that means FontAwesome is working.</p>

    <button class="btn btn-primary mb-2">
      <i class="fas fa-hand-point-up mr-1"></i>
      <span>Press Me</span>
    </button>

  </section>
</div>
