<div id="clearance" class="password-reset bg-gray-200 w-full">
  <div class="max-w-sm mx-auto pt-32 px-4 h-screen">
    <div class="bg-white rounded border-transparent overflow-hidden shadow-md">
      <section class="py-8 px-6">
        <p><%= t(".description") %></p>
      </section>
    </div>
  </div>
</div>
