<nav id="top-navigation" class="w-full z-50 bg-gray-700 flex items-center justify-between py-1">
  <div class="left-buttons flex-1"></div>

  <div class="navbar-brand flex-1">
    <%= link_to root_path, class: 'no-underline', data: { turbo: false } do %>
      <h1 class="font-bold text-xl text-center tracking-tight text-gray-300">Quickstart</h1>
    <% end %>
  </div>

  <div class="right-buttons flex-1"></div>
</nav>
