.form-input {
  @apply w-full mb-6;
}

.form-label {
  @apply block uppercase tracking-wide text-gray-800 text-xs font-bold mb-2;
}

.form-control {
  @apply appearance-none block w-full bg-gray-300 text-gray-800 border border-gray-300 rounded py-3 px-4 leading-tight;
}

.form-control:focus {
  @apply outline-none bg-white border-gray-500;
}

.is-invalid {
  @apply border-red-500;
}

.form-hint {
  @apply text-blue-500 text-xs italic;
}

.form-error {
  @apply text-red-500 text-xs italic;
}

.form-input .checkbox {
  label {
    @apply pl-2;
  }

  input[type=checkbox] {
    -ms-transform: scale(1.125);
    -moz-transform: scale(1.125);
    -webkit-transform: scale(1.125);
    -o-transform: scale(1.125);
  }
}

/* Don't underline the "required" asterisk in forms */
abbr[title] {
  text-decoration: none;
}

.selectize-control {
  @apply bg-gray-400 border-0;
  padding: 0;
}

.selectize-input,
.selectize-input.full {
  @apply bg-gray-400 border-transparent shadow-none py-3 px-4 leading-tight text-base;
  //padding: 0;
}

.selectize-input input {
  @apply leading-tight text-base;
}

.selectize-input:focus,
.selectize-input.full:focus,
.selectize-input.input-active {
  @apply outline-none bg-white border-gray-500;
}

.selectize-dropdown {
  @apply bg-white p-0;
}

.selectize-dropdown-content {
  @apply p-0;
}

.selectize-dropdown .option {
  @apply py-2 px-4 leading-tight text-base bg-white cursor-pointer;

  &.selected {
    @apply bg-blue-100;
  }

  &.active {
    @apply bg-blue-100;
  }
}
