<section id="dashboard">
  <div class="mx-auto md:max-w-xl">
    <div id="welcome-card" class="mt-8 bg-white shadow-lg rounded mx-2">
      <p class="text-lg text-center p-4">Quickstart Dashboard</p>
    </div>
  </div>
</section>
