<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%
      case name.to_s
        when 'notice'
          color = 'green'
        when 'alert'
          color = 'red'
        else
          color = 'blue'
      end
    %>

    <div class="bg-<%= color %>-100 text-<%= color %>-700 px-4 py-3 relative" role="alert">
      <%= content_tag :p, msg, class: "flash_#{name} text-center font-bold" %>
    </div>
  <% end %>
<% end %>
