<nav id="sidebar">
  <% if signed_in? %>

    <div class="py-4 px-4">
      <%= sidebar_link_to 'Dashboard', dashboard_path, icon: 'tachometer-alt' %>
    </div>

    <div class="py-4 px-4">
      <div class="uppercase text-sm text-grey">Admin</div>
      <%= sidebar_link_to 'Manage Users', admin_users_path, icon: 'users' %>
    </div>

    <div class="py-4 px-4">
      <div class="uppercase text-sm text-grey">ACCOUNT</div>
      <%= sidebar_link_to 'Reset Password', new_password_path, icon: 'unlock-alt' %>
      <%= sidebar_link_to 'Sign out', sign_out_path, method: :delete, icon: 'sign-out-alt' %>
    </div>

  <% end %>
</nav>
