<nav id="top-navigation" class="w-full z-50 bg-gray-700 flex items-center justify-between py-1">
  <div class="left-buttons flex-1">
    <button class="py-2 px-4 rounded text-gray-500 hover:text-gray-300"
            type="button"
            data-target="sidebar.toggle"
            data-action="sidebar#toggleSidebar"
            aria-controls="sidebar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <%= fa_icon 'bars', icon_class: 'fa-lg' %>
    </button>
  </div>

  <div class="navbar-brand flex-1">
    <%= link_to root_path, class: 'no-underline', data: { turbo: false } do %>
      <h1 class="font-bold text-xl text-center tracking-tight text-gray-300">Quickstart</h1>
    <% end %>
  </div>

  <div class="right-buttons flex-1"></div>
</nav>
